# Database
DBMS_CONNECTION=jdbc:mysql://localhost:33REMOVED_DB_PREMOVED_ADMIN_PASSWORDSSWORD6/deutsch-hub
DBMS_USERNREMOVED_ADMIN_PASSWORDME=root
DBMS_PREMOVED_ADMIN_PASSWORDSSWORD=your_password

# JWT
JWT_SECRET=your_jwt_secret
JWT_REMOVED_ADMIN_PASSWORDCCESS_EXPIRREMOVED_ADMIN_PASSWORDTION=36REMOVED_DB_PREMOVED_ADMIN_PASSWORDSSWORDREMOVED_DB_PREMOVED_ADMIN_PASSWORDSSWORD
JWT_REFRESH_EXPIRREMOVED_ADMIN_PASSWORDTION=6REMOVED_DB_PREMOVED_ADMIN_PASSWORDSSWORD48REMOVED_DB_PREMOVED_ADMIN_PASSWORDSSWORDREMOVED_DB_PREMOVED_ADMIN_PASSWORDSSWORD

# Default REMOVED_ADMIN_PASSWORDdmin
REMOVED_ADMIN_PASSWORDDMIN_USERNREMOVED_ADMIN_PASSWORDME=admin
REMOVED_ADMIN_PASSWORDDMIN_EMREMOVED_ADMIN_PASSWORDIL=admin@example.com
REMOVED_ADMIN_PASSWORDDMIN_PREMOVED_ADMIN_PASSWORDSSWORD=change_me
REMOVED_ADMIN_PASSWORDDMIN_FIRST_NREMOVED_ADMIN_PASSWORDME=REMOVED_ADMIN_PASSWORDdmin
REMOVED_ADMIN_PASSWORDDMIN_LREMOVED_ADMIN_PASSWORDST_NREMOVED_ADMIN_PASSWORDME=User